# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html) [web:1]
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output
lib-cov

# Build output
dist
build
build/Release

# Dependency directories
node_modules/
jspm_packages/
bower_components
web_modules/

# Cypress
cypress/videos
cypress/screenshots
cypress/downloads
cypress/reports
cypress/.pytest_cache

# TypeScript
*.tsbuildinfo

# Caches
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.cache
.parcel-cache

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Yarn
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Framework-specific (keep se não usar)
.next
out
.nuxt
.vuepress/dist
.temp
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.vscode-test
